.container {
    /* background : white; */
    text-align: center;
    font-family: sans-serif;
    background-image: url('../images/googleCrystalImage.jpg');
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 50px;
    font-family: serif;
    text-anchor: middle;
    color: white;
    background: pink;
}


.paragraph {
    text-align: center;
    width: 50%;
    border: 5px solid rgb(0, 128, 128);
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    background: lightcoral;
}

.score {
    border: 5px solid rgb(0, 128, 128);
    background: lightcoral;
    width: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ttlscore {
    border: 5px solid rgb(0, 128, 128);
    background: lightcoral;
    width: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

